<div class="row">
    <br />

    <br />
    <br />
    <br />


    <div class="span8 offset2">
      This app is developed and maintained by <strong>Steve Robinson</strong> - <a href="http://twitter.com/stev4nity">@stev4nity</a>. The source code is available at <a href="http://github.com/steverob/aurs">steverob/aurs</a>. If you want to contribute by supporting a results website please contact me at steve[dot]rob[at]me[dot]com.
    </div>
</div>
